@charset "UTF-8";
body {
  background: #304d6d;
}

#home-section {
  background: url(../img/curtis-macnewton-vVIwtmqsIuk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}

#home-section .dark-overlay {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  background: rgba(0,0,0,0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

/* Navbar */
.navbar-brand {
  font-size: 2.5rem;
}

.nav-item {
  font-size: 1.5rem;
}

nav {
 background: #304d6d;
 color: white;
 border-bottom: #008ed6 3px solid;
}

.emphasis {
	color: #008ed6;
}

.highlight {
	color: #ffb700;
}
.card-header {
	background: #008ed6;
	color: white;
}

.white {
	background: white;
	color: #304d6d;
}

.blue {
	background: #304d6d;
	color: white;
}

.main-description {
	font-size: 1.25rem;
}

section {
background: white;
padding: 2%;
margin: 2%;	
}
.block {
	display: block;
	vertical-align: top;
	
}

.img-fluid {
	border-radius: 8px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
  }
	  
.signin {
  color: #a7cced; }

 .col-5 {
   text-align: center;
 }
  
 .green {
 color: green;
 }
 
 .red {
 color: red;
 }
 
 #green, #red {
 font-size: 1.3rem;
 }
 
#header {
  border: solid 1px black;
  padding: 40px; }

  ul li {
  list-style: none;
}

nav a, nav a:hover, .footer-item a, .footer-item a:hover {
  text-decoration: none;
  color: white !important;
}


.plans-column {
	color: black;
}

/* Footer */
#footer {
	margin: 2%;
	padding: 2%;
}

#footer div {
	margin: 2%;
}

.footer-item {
  font-size: 1.2rem;
}

.fa {
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  border-radius: 8%;
  text-decoration: none;
  border: 1px white solid;
}

a:hover{
	text-decoration: none;
}
.social {
  vertical-align: middle;
}

.social a:hover {
  color: white;
  text-decoration: none;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
