@charset "UTF-8";
body {
  background: #304d6d;
}

/* Navbar */
.navbar-brand {
  font-size: 2rem;
}

.nav-item {
  font-size: 1.25rem;
}

section {
background: white;
padding: 2%;
margin: 2%;	
}

  #calendar {
	    max-width: 900px;
	    margin: 0 auto;
	  }
	  
.signin {
  color: #a7cced; }

 .col-5 {
   text-align: center;
 }
  
 .green {
 color: green;
 }
 
 .red {
 color: red;
 }
 
#header {
  border: solid 1px black;
  padding: 40px; }

  ul li {
  list-style: none;
}

nav a, nav a:hover, .footer-item a, .footer-item a:hover {
  text-decoration: none;
  color: #A7CCED !important;
}

/* Footer */
#footer {
	margin: 2%;
	padding: 2%;
}
.footer-item {
  font-size: 1.2rem;
}

.fa {
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  border-radius: 8%;
  text-decoration: none;
  border: 1px white solid;
}

.social {
  vertical-align: middle;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
